<div class="ui segment">
    <table class="ui very1 basic collapsing celled table">
        <tbody>
        <tr class="item">
            <td><strong>{{ 'app.admin.ui.modules.auth.user.properties.id'|trans }}:</strong></td>
            <td>{{ user.id|trans }}</td>
        </tr>
        <tr class="item">
            <td><strong>{{ 'app.admin.ui.modules.auth.user.properties.name'|trans }}:</strong></td>
            <td>{{ user.name|trans }}</td>
        </tr>
        <tr class="item">
            <td><strong>{{ 'app.admin.ui.modules.auth.user.properties.email'|trans }}:</strong></td>
            <td>{{ user.email|trans }}</td>
        </tr>
        <tr class="item">
            <td><strong>{{ 'app.admin.ui.modules.auth.user.properties.role'|trans }}:</strong></td>
            <td>{{ user.role|trans }}</td>
        </tr>
        <tr class="item">
            <td><strong>{{ 'app.admin.ui.modules.auth.user.properties.created_at'|trans }}:</strong></td>
            <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <div class="ui buttons">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("app_user_update", {"id": resource.id} ) }}" class="ui labeled icon button">
                <i class="pencil icon"></i>
                {{ 'app.admin.ui.edit' | trans }}
            </a>
            {% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}
            {{ buttons.delete(path("app_user_delete", {"id": resource.id} ), '', true, resource.id) }}
        {% endif %}
    </div>
</div>
