{% extends '@app/admin/layout/sylius.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.admin.ui.show_'~metadata.name) %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.show' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sonata_block_render_event(event_prefix ~ '.before_header', {'resource': resource}) }}

    <div class="ui stackable two column grid">
        <div class="column">
            {% include configuration.vars.templates.header_title|default('@app/admin/layout/crud/show/_header_title.html.twig') %}
            {% include configuration.vars.templates.breadcrumb|default('@app/admin/layout/crud/show/_breadcrumb.html.twig') %}

            {{ sonata_block_render_event(event_prefix ~ '.header', {'resource': resource}) }}
        </div>
        <div class="middle aligned column">
            {% include configuration.vars.templates.toolbar|default('toolbar.html.twig') ignore missing %}
        </div>
    </div>

    {{ sonata_block_render_event(event_prefix ~ '.after_header', {'resource': resource}) }}

{#    <div class="ui segment">#}
        {% include configuration.vars.templates.show %}
{#    </div>#}

    {{ sonata_block_render_event(event_prefix ~ '.after_content', {'resource': resource}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sonata_block_render_event(event_prefix ~ '.stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sonata_block_render_event(event_prefix ~ '.javascripts') }}
{% endblock %}
